style
    body {
        background-color: #26292e;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        color: #FFF;
        font-size: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 60%;
        text-align: left;
    }

    .body {
        padding-left: 10px;
        max-width: 66%;
    }
